{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<body>
	<section class="section-about-main">
		<div class="container">
			<div class="row mb-5">
				<div class="col-12">
					<img src="img/about-main.jpg" alt="media" class="w-100 d-block rounded-1">
				</div>
			</div>
			<div class="row">
				<div class="col-3">
					<div class="text-center">
						<h5 class="fw-semibold">Free Shipping</h5>
						<div class="text-muted">Free Shipping for orders over £130</div>
					</div>
				</div>
				<div class="col-3">
					<div class="text-center">
						<h5 class="fw-semibold">Money Guarantee</h5>
						<div class="text-muted">Within 30 days for an exchange.</div>
					</div>
				</div>
				<div class="col-3">
					<div class="text-center">
						<h5 class="fw-semibold">Online Support</h5>
						<div class="text-muted">24 hours a day, 7 days a week</div>
					</div>
				</div>
				<div class="col-3">
					<div class="text-center">
						<h5 class="fw-semibold">Flexible Payment</h5>
						<div class="text-muted">Pay with Multiple Credit Cards</div>
					</div>
				</div>
			</div>
			<div class="row my-5">
				<div class="col-12">
					<hr>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-7 mx-auto">
					<div class="panel-content text-center">
						<h1 class="text-center fw-light mb-4">Welcome to<br> The Urban Thrift</h1>
						<p class="lead">Lorem ipsum dolor sit amet consectetur adipiscing elit. Etiam a pretium nibh. Curabitur auctor tellus turpis et laoreet ex sodales eu. Mauris ut nibh at tortor aliquam porttitor.</p>
						<p>Nulla sit amet nunc sed nibh pellentesque sollicitudin. Fusce sit amet varius velit. Praesent semper felis a pretium facilisis orci justo aliquet orci non mollis libero enim vitae leo. Mauris vel blandit velit. Sed ut nisi odio. Cras rhoncus convallis magna id molestie. Phasellus consequat varius sodales. Aliquam aliquet quam eget dui scelerisque laoreet. Phasellus congue elit ut ante facilisis egestas vestibulum dolor iaculis. Integer arcu orci feugiat eget eros id tempor fringilla lacus. </p>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>