{% extends "base.html" %}
{% block content %}
  
<!DOCTYPE html>
<html lang="en">

<body>


	<!-- =====[SECTION CART]===== -->
	<section class="section-cart py-5 mb-4">
		<div class="container">
			<div class="row">
				<div class="col-12">
					<div class="mb-5">
						<ol class="breadcrumb mb-2">
							<li class="breadcrumb-item"><a href="index.html">Home</a></li>
							<li class="breadcrumb-item active" aria-current="page">Cart</li>
						</ol>
						<h1 class="h2 title-xl">Cart</h1>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12">
					<div class="card border-0 brand-shadow rounded-1 mb-4">
						<div class="card-body pt-5 px-5 pb-4">
							<div class="row align-items-center mb-3 pb-3 border-bottom">
								<div class="col-1"></div>
								<div class="col-5">
									<div class="fw-medium fw-bold text-uppercase text-muted">Title</div>
								</div>
								<div class="col-2">
									<div class="fw-medium text-end pe-4 fw-bold text-uppercase text-muted">Price</div>
								</div>
								<div class="col-2">
									<div class="text-center fw-bold text-uppercase text-muted">Quantity</div>
								</div>
								<div class="col-2">
									<div class="text-end fw-bold text-uppercase text-muted">Subtotal</div>
								</div>
							</div>
							<div class="row align-items-center mb-3 pb-3 border-bottom">
								<div class="col-1">
									<button class="btn p-1 lh-1">
										<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
									</button>
								</div>
								<div class="col-5">
									<div class="fw-medium text-truncate">Microsoft Surface Laptop</div>
								</div>
								<div class="col-2">
									<div class="fw-medium text-end pe-4">₹ 1,53,000.00</div>
								</div>
								<div class="col-2">
									<div class="text-center"><input type="number" class="form-control" value="1"></div>
								</div>
								<div class="col-2">
									<div class="text-end fw-bold text-danger">₹ 1,53,000.00</div>
								</div>
							</div>
							<div class="row align-items-center mb-3 pb-3 border-bottom">
								<div class="col-1">
									<button class="btn p-1 lh-1">
										<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
									</button>
								</div>
								<div class="col-5">
									<div class="fw-medium text-truncate">Food & Health Journal</div>
								</div>
								<div class="col-2">
									<div class="fw-medium text-end pe-4">₹ 360.00</div>
								</div>
								<div class="col-2">
									<div class="text-center"><input type="number" class="form-control" value="2"></div>
								</div>
								<div class="col-2">
									<div class="text-end fw-bold text-danger">₹ 720.00</div>
								</div>
							</div>
							<div class="row align-items-center mb-3">
								<div class="col-1">
									<button class="btn p-1 lh-1">
										<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x"><line x1="18" y1="6" x2="6" y2="18"></line><line x1="6" y1="6" x2="18" y2="18"></line></svg>
									</button>
								</div>
								<div class="col-5">
									<div class="fw-medium text-truncate">Vintage Chair</div>
								</div>
								<div class="col-2">
									<div class="fw-medium text-end pe-4">₹ 4,675.00</div>
								</div>
								<div class="col-2">
									<div class="text-center"><input type="number" class="form-control" value="4"></div>
								</div>
								<div class="col-2">
									<div class="text-end fw-bold text-danger">₹ 18,700.00</div>
								</div>
							</div>
						</div>
					</div>
					<div class="card border-0 brand-shadow rounded-1 mb-4">
						<div class="card-body px-5 py-4 my-3">
							<div class="row align-items-center">
								<div class="col-lg-3 ">
									<button class="btn btn-outline-danger rounded-1 fw-medium py-2 w-100 d-block">Continue shopping</button>
								</div>
								<div class="col-lg-5 ms-auto">
									<div class="row row-discount-panel gx-2">
										<div class="col-7"><input type="text" class="form-control" placeholder="Coupon Code" style="height: 42px"></div>
										<div class="col-5"><button class="btn btn-danger rounded-1 text-uppercase fw-medium py-2 w-100 d-block">Apply coupon</button></div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-5 ms-auto">
					<div class="card border-0 brand-shadow rounded-1">
						<div class="card-body px-5 py-4 my-3">
							<h4 class="card-title fw-semibold mb-4">Cart totals</h4>
							<div class="d-flex align-items-center justify-content-between">
								<div class="text-start">Subtotal</div>
								<div class="text-end">1,72,420.00</div>
							</div>
							<hr>
							<div class="d-flex align-items-center justify-content-between">
								<div class="text-start">Tax (GST 18%)</div>
								<div class="text-end">31,035.60</div>
							</div>
							<hr>
							<div class="d-flex align-items-center justify-content-between">
								<div class="text-start fw-bold text-danger h5">Total</div>
								<div class="text-end fw-bold text-danger h5">2,03,455.60</div>
							</div>
							<div class="pt-5">
								<button class="btn btn-danger rounded-1 text-uppercase fw-medium py-2 w-100 d-block">Proceed to checkout</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>
  


  
{% endblock %}

