{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<body>
	<!-- =====[SECTION LOGIN]===== -->
	<section class="section-login">
		<div class="container">
			<div class="row">
				<div class="col-xl-5 mx-auto">
					<div class="card card-login brand-shadow border-0">
						<div class="card-body py-5 px-5">
							<ul class="nav nav-underline justify-content-center" id="pills-tab" role="tablist">
								<li class="nav-item me-4" role="presentation">
									<button class="nav-link active" id="pills-login-tab" data-bs-toggle="pill" data-bs-target="#pills-login" type="button" role="tab" aria-controls="pills-login" aria-selected="true">Login</button>
								</li>
							</ul>
							<div class="tab-content" id="pills-tabContent">
								<div class="tab-pane fade show active" id="pills-login" role="tabpanel" aria-labelledby="pills-login-tab" tabindex="0">
									<div class="pt-5">
										<div class="mb-3">
											<label class="form-label small fw-medium">Email address</label>
											<input type="email" class="form-control">
										</div>
										<div class="mb-3">
											<label class="form-label small fw-medium">Password</label>
											<input type="password" class="form-control">
										</div>
										<div class="mb-3 pt-1">
											<div class="form-check">
												<input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">
												<label class="form-check-label small fw-medium" for="flexCheckDefault">Remember me</label>
											</div>
										</div>
										<div class="mb-3 pt-2">
											<button type="submit" class="btn btn-danger fw-medium py-2 rounded-1 w-100">Login</button>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</body>
</html>

{% endblock %}