{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<body>
	<!-- =====[SECTION PROFILE]===== -->
	<section class="section-profile-main">
		<div class="container">
			<div class="row">
				<div class="col-lg-6 mx-auto">
					<div class="card card-profile-hero brand-shadow border-0 mb-5">
						<div class="card-body text-center py-5">
							<div class="profile-pic mx-auto mb-4 rounded-circle"><img src="img/profile.png" alt="user" class="w-100 d-block rounded-circle"></div>
							<h4 class="title fw-semibold mb-1">Sebin Kuriakose</h4>
							<div class="title-sm text-muted">@sebin-kuriakose</div>
							<div class="pt-4">
								<button type="button" class="btn btn-danger d-inline-flex align-items-center fw-medium py-2 px-5 rounded-1">
									<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-coin me-2" width="22" height="22" viewBox="0 0 24 24" stroke-width="1.75" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
										<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
										<path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0 -18 0"></path>
										<path d="M14.8 9a2 2 0 0 0 -1.8 -1h-2a2 2 0 1 0 0 4h2a2 2 0 1 1 0 4h-2a2 2 0 0 1 -1.8 -1"></path>
										<path d="M12 7v10"></path>
									</svg>
									Sell
								</button>
							</div>
						</div>
					</div>
					<div class="card card-profile-details brand-shadow border-0">
						<div class="card-body px-5 py-5">
							<div class="row align-items-center mb-4">
								<div class="col-auto"><h4 class="card-title fw-semibold mb-0">My profile</h4></div>
								<div class="col-auto ms-auto">
									<button class="btn btn-link d-inline-flex align-items-center fw-medium">
										<svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-pencil me-1" width="22" height="22" viewBox="0 0 24 24" stroke-width="1.75" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
											<path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
											<path d="M4 20h4l10.5 -10.5a1.5 1.5 0 0 0 -4 -4l-10.5 10.5v4"></path>
											<path d="M13.5 6.5l4 4"></path>
										</svg>
										Edit
									</button>
								</div>
							</div>
							<div class="row align-items-center mb-4">
								<div class="col-4 text-muted small">Full name</div>
								<div class="col-8"><div class="py-2 px-3 border shadow-sm rounded-1">Sebin Kuriakose</div></div>
							</div>
							<div class="row align-items-center mb-4">
								<div class="col-4 text-muted small">Username</div>
								<div class="col-8"><div class="py-2 px-3 border shadow-sm rounded-1">sebin-kuriakose</div></div>
							</div>
							<div class="row align-items-center mb-4">
								<div class="col-4 text-muted small">Email address</div>
								<div class="col-8"><div class="py-2 px-3 border shadow-sm rounded-1">sebinkuriakose276@gmail.com</div></div>
							</div>
							<div class="row align-items-center">
								<div class="col-4 text-muted small">Phone number</div>
								<div class="col-8"><div class="py-2 px-3 border shadow-sm rounded-1">+91 9847824162</div></div>
							</div>
						</div>
						<div class="buttonallign">
							<button type="button" class="btn btn-danger d-inline-flex align-items-center fw-medium py-2 px-5 rounded-1" onclick="returnhome()">Go to shopping</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>	

	<script>
		function returnhome()
		{
		 // alert('The Order has been placed!');
		  location.replace('/')
		}
	  </script>

	
</body>
</html>

<style>
	.buttonallign
	{
		text-align: center;
		height:200px;
   		width:400px;
		padding-left: 180px;
	}
</style>

{% endblock %}