{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<html>
<body>
    <h2>Product Details</h2>
    <form method="POST" action="/submit_product">
        <label for="image">Image:</label>
        <!-- <input type="file" id="image" name="image" accept="image/*"><br><br> -->
        <input type="text" id="name" name="name" required><br><br>

        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required><br><br>

        <label for="price">Price:</label>
        <input type="number" id="price" name="price" required><br><br>

        <label for="title">Title:</label>
        <input type="text" id="title" name="title" required><br><br>

        <input type="submit" value="Submit">
    </form>
</body>
</html>

{% endblock %}